.navbar {
  overflow: hidden;
  background-color: #42A2DC;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.row .col-xs-3 {
  padding-right: 5px;
}

.row .col-xs-9 {
  padding-left: 5px;
}

li .page-scroll {
  font-size: 1.4em;
}

p.dark {
  color: #262626;
}
p.gray {
  color: #5a5a5a;
}

#NAMSA {
  color: white;
  font-size: 8em;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  padding-top: 0.3em;
  margin-bottom: 0;
  padding-bottom: 10px;
  letter-spacing: 15px;
}

@media(max-width: 1000px) {
  #NAMSA {
    font-size: 5em;
  }

  #name span {
    display: block;
  }
}

@media(max-width: 540px) {
  #name span {
    display: inline;
  }
}

@media(max-width: 767px) {
  #NAMSA {
    letter-spacing: 0px;
    font-size: 3em;
    padding-top: 0.3em;
    margin-bottom: 0;
  }
  .pad-right {
    margin-right: 0.5em;
  }
}

#name {
  font-family: 'Bebas Neue Regular', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1.49em;
  text-align: center;
  color: white;
}

.section-header {
  font-family: 'Bebas Neue Regular', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:5em;
  text-align: left;
}


#bios .section-header {
  color: #1867a3;
}


#about {
  background-color: #1867a3;
}

.text-center {
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Avenir LT Std 35 Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #e5e9e7;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Bebas Neue Regular', "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 1.2em;
  line-height: 1.5;
  font-family: 'Avenir LT Std 35 Light';
  text-align: left;
}
@media (max-width: 767px) {
  #NAMSA {
    font-size: 3em;
  }
  section.content-section {
    padding-top: 50px;
  }
  section.padding-bottom {
    padding-bottom: 50px;
  }
  h2.section-header {
    font-size: 3em;
  }
  p {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 1.2em;
    line-height: 1.6;
  }
}

.light {
  font-weight: 400;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.intro {
  display: table;
  width: 100%;
  /* height: auto;
  padding: 100px 0; */
  height: 100%;
  padding: 0;
  text-align: center;
  color: white;
  background: "img/banner.jpeg" no-repeat center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 100px;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}


@media (min-width: 767px) {
  .content-section {
    padding-top: 100px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}

